* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-image: none;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    margin: auto;
    line-height: 1.5;
}



header {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;    
    align-content: center;
    background-image: url(../cv_n_g/background_header.svg);
    background-repeat: no-repeat;
    border-top: double;
    border-bottom: double;
    border-color: rgba(187, 158, 220, 0.2)

}

div.contact>p>a>img {
    width: 20px;
    height: 20px;
}

div.icons>img {
    width: 50px;
    height: 50px;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: auto;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

h1 {
    text-align: left;
}

h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    text-align: center;
    border-top: double;
    border-bottom: double;
    border-color: rgba(187, 158, 220, 0.2)
}

h3 {
    font-size: 1.5em;
    padding-left: 40px;
}

p {
    text-align: justify;

}

div.photo {
    display: flex;
    justify-content: center;
}


.informations {
    display: flex;
}

.identite {
    width: 100%;
    padding: 20px 80px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

div.icons {
    display: flex;
    justify-content: space-around;
}


.complement {
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

div.presentation {
    width: 100%;
    font-size: 1.3em;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
}





@media screen and (min-width: 768px) {
    
    body {
        max-width: 768px;
        font-size: 1.3em;
        line-height: 1.15;
    }

}






@media screen and (min-width: 1200px){

    body {
        max-width: 1295px;        
        font-size: 1.4em;
    }
    
    header {
        flex-direction: row;
        flex-wrap: nowrap;
    }
    
    .left {
        width: 50%;
        height: auto;
    }
     
    .right {
        width: 50%;
        margin-left: 40px;
    }
    
    main {
        flex-direction: row;
    }
    
    div.presentation {
        padding-top: 60px;
        margin-left: 40px;
    }
} 
